<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WeHeMo.Business.Properties.Settings.WEHEMOConnectionString"
            connectionString="Data Source=HT\SQLEXPRESS;Initial Catalog=WEHEMO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>